/logs
/workers/unity/Assets/improbable/*
/workers/unity/improbable/
/workers/unity/Library/
/workers/unity/Temp/
/workers/unity/logs/

!/workers/unity/Assets/improbable/Improbable.CSharp.asmdef
!/workers/unity/Assets/improbable/Improbable.CSharp.asmdef.meta

*.csproj.user
.vs/
.spatialos/
build/
bin/
obj/
packages/

*.DotSettings.user
