# Test project.
build
*.csproj
*.sln
[Ll]ibrary/
[Tt]emp/
[Ll]ogs/
Assets/Plugins/Improbable/
Assets/Plugins/Improbable.meta
ProjectSettings/UnityConnectSettings.asset
Assets/Generated/Source.meta
Assets/Generated/Source/**/*.*
!Assets/Generated/Source/improbable/tests/**/*.cs
!Assets/Generated/Source/improbable/testschema/**/*.cs
!Assets/Generated/Source/improbable/dependentschema/**/*.cs
Assets/Generated/Editor.meta
Assets/Generated/Editor/**/*.*