<#@ template language="C#" #>
<#@ output extension=".cs" #>
<#= CommonGeneratorUtils.GetGeneratedHeader() #>

using System.Linq;
using Improbable.Gdk.Core;

namespace <#= qualifiedNamespace #>
{ 
<# 
    var generator = new UnityTypeContent();
#>
    <#= CommonGeneratorUtils.IndentEveryNewline(generator.Generate(typeDefinition, enumSet)) #>
}
