<#@ template language="C#" #>
<#@ output extension=".cs" #>

<#= CommonGeneratorUtils.GetGeneratedHeader() #>

namespace <#= qualifiedNamespace #>
{ 
    <#= CommonGeneratorUtils.IndentString(new UnityEnumContent().Generate(enumDefinition)) #>
}
